html{
    --blanco: #edf2f4;
    --claro: #beffeb;
    --oscuro: #15c984;
    --negro: #2a2438;
    --gris: #8d99ae;
}

body{
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    color: var(--blanco);
    text-decoration: none;
}

iframe{
    border: none;
    margin: 0;
    float: left;
}

/*---Menu superior---*/
.menuSuperior{
    position: fixed;
    width: 100%;
    height: 80px;
}

.menuSuperiorBody{
    background-color: var(--negro);
    padding-left: 20px;
    color: var(--blanco);
}

.menuSuperiorBody h1{
    position: absolute;
    margin-top: 25vh;
    margin-left: 10px;
}

.menuSuperiorBody nav{
    margin-top: 40vh;
    margin-left: 10vw;
    float: left;
}

.menuSuperiorBody nav a{
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
}

.menuSuperiorBody nav a:hover{
    background-color: var(--oscuro);
}

/*---Menu Lateral---*/
.menuLateral{
    position: fixed;
    margin-top: 80px;
    width: 20%;
    height: 100vh;
}

.menuLateralBody{
    background-color: var(--gris);
    padding-left: 20px;
    color: var(--blanco);
}

/*---Main---*/
.main{
    position: fixed;
    margin-top: 80px;
    width: 100vw;
    height: 100vh;
}

.mainBody{
    background-color: var(--blanco);
    padding-left: 20px;
    color: var(--negro);
}

/*Videojuegos*/
.videojuegosBody{
    background-color: var(--claro);
    color: var(--negro);
}

.videojuegosContenedor{
    background-color: var(--blanco);
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    width: 80vw;
    height: 100vh;
}

.videojuegosBody table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.videojuegosBody td{
    height: 94px;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
}

.videojuegosBody h1{
    text-align: center;
    font-size: 32px;
}

.categoria{
    width: 100%;
    height: 84px;
    border-radius: 5px;
    background-color: var(--blanco);
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-color: var(--oscuro);
    border-style: solid;
}

.categoria:hover{
    border-color: var(--blanco);
}

.categoria h2{
    font-size: 24px;
    margin-left: 5vw;
    margin-top: 25px;
    margin-bottom: 35px;
    color: var(--negro);
    font-weight: bolder;
}

.prueba{
    width: 64px;
    height: 64px;
    background-color:var(--negro);
    float: left;
    margin: 10px;
}
/*Registro*/
.registroContenedor{
    background-color: var(--blanco);
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    width: 80vw;
    height: 100vh;
}

.registroContenedor table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.registroContenedor td{
    height: 45px;
    font-size: 24px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.registroContenedor td,tr,table{
    border-width: 1px;
    border-style: solid;
    border-color: var(--blanco);
    border-collapse: collapse;
}

/*scrollbar*/
*::-webkit-scrollbar{
    background: var(--negro);
    width: 8px;
}

*::-webkit-scrollbar-thumb{
    background: var(--blanco);
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb:hover{
    background: var(--rojo);
}