/*fuentes*/

@font-face{
    font-family: LemonMilk;
    src: url(fuentes/LEMONMILK-Bold.otf);
    font-weight: bold;
}

@font-face{
    font-family: LemonMilk;
    src: url(fuentes/LEMONMILK-Regular.otf);
}

/*Animaciones*/
@keyframes desplazarDerecha{
    0%{
        transform: translateX(-80%);
        height: 96px;
    }
    50%{
        transform: translateX(0%);
        height: 96px;
    }
    100%{
        height: 384px;
    }
}

@keyframes desplazarIzquierda{
    0%{
        transform: translateX(80%);
        height: 96px;
    }
    50%{
        transform: translateX(0%);
        height: 96px;
    }
    100%{
        height: 384px;
    }
}

@keyframes aparecer{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

@keyframes agrandar{
    from{
        transform: scale(0%);
    }
    to{
        transform: scale(100%);
    }
}

@keyframes ascenderYAparecer{
    from{
        opacity: 0%;
        transform: translateY(100%);
    }
    to{
        opacity: 100%;
        transform: translateY(0%);
    }
}

@keyframes aparecerYExpandir{
    0%{
        opacity: 0%;
        height: 80px;
    }
    50%{
        opacity: 100%;
        height: 80px;
    }
    100%{
        height: 512px;
    }
}

@keyframes aparecerDerecha{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes aparecerIzquierda{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

html{
    --blanco: #ffffff;
    --claro: #bbbbbb;
    --oscuro: #cf2b15;
    --negro: #2a2438;
    --gris: #8d99ae;
    --grisOscuro: #413b52;
}

body{
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    color: var(--blanco);
    text-decoration: none;
}

iframe{
    border: none;
    margin: 0;
    float: left;
}

img{
    image-rendering: pixelated;
}

.centrado{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

h1, h2{
    font-family: LemonMilk;
    font-weight: normal;
}

/*---Menu superior---*/
.menuSuperior{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
}

.menuSuperiorBody{
    background-color: var(--negro);
    padding-left: 20px;
    color: var(--blanco);
    overflow-y: hidden;
}

.menuSuperiorBody img{
    float: left;
    margin-top: 5vh;
    margin-left: 10px;
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
}

.menuSuperiorBody nav{
    margin-top: 40vh;
    margin-left: 10vw;
    float: left;
}

.menuSuperiorBody nav a{
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 16px;
    transition: all 0.5s;
}

.menuSuperiorBody nav a:hover{
    background-color: var(--oscuro);
}

/*footer*/
.footer{
    width: 100%;
    height: 256px;
    z-index: 1;
    animation-name: aparecer;
    animation-delay: 1.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0%;
}

.footerBody{
    background-color: var(--negro);
    padding: 20px;
    color: var(--blanco);
}

.footerBody a{
    text-decoration: underline;
}

.izquierda{
    float: left;
}

.derecha{
    float: right;
}

.enlaces{
    text-align: left;
}

/*---Main---*/
.main{
    position: fixed;
    margin: 0px;
    margin-top: 80px;
    width: 100vw;
    height: 100vh;
}

.mainBody{
    background-color: var(--blanco);
    padding-left: 20px;
    color: var(--negro);
    padding: 0px;
}

.mainBody a{
    animation-name: aparecer;
    animation-delay: 1.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    border-radius: 100px;
    font-size: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 48px;
    font-weight: bolder;
    opacity: 0%;
}

.mainBody h2{
    font-size: 32px;
}
.mainBody p{
    font-size: 1.2vw;
}

.mainBody img{
    animation-name: aparecer;
    animation-delay: 1.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0%;
    width: 256px;
    height: 256px;
    margin-right: 64px;
}

.mainBody header h1{
    animation-name: aparecer;
    animation-duration: 2s;
    text-align: center;
    font-size: 64px;
    font-weight: bolder;
    color: var(--blanco);
    overflow: hidden;
    text-shadow: #2a2438 5px 5px 5px;
}

.mainBody header{
    background-image: url(img/fondo.png);
    background-size: contain;
    width: 100vw;
    height: 256px;
    margin-top: -44px;
    margin-bottom: 30px;
    padding-top: 128px;
    box-shadow: var(--negro) 0px 5px 25px;
}

.contenedorRojo, .contenedorNegro{
    height: 384px;
    width: 80%;
    border-radius: 15px;
    color: var(--blanco);
    padding-left: 64px;
    padding-right: 64px;
}

.contenedorRojo{
    animation-name: desplazarDerecha;
    animation-duration: 2s;
    background-color: var(--oscuro);
    margin-bottom: 32px;
    margin-left: -32px;
    float: left;
    transition: transform 0.5s;
}

.contenedorNegro{
    animation-name: desplazarIzquierda;
    animation-duration: 2s;
    background-color: var(--negro);
    margin-bottom: 32px;
    margin-right: -32px;
    padding-right: 64px;
    float: right;
    transition: transform 0.5s;
}

.contenedorRojo:hover{
    transform: translateX(1%);
}

.contenedorNegro:hover{
    transform: translateX(-1%);
}

.contenedorRojo img{
    float: left;
}

.contenedorNegro img{
    float: right;
}

.contenedorRojo a{
    background-color: var(--blanco);
    transition: all 0.5s;
    color: var(--oscuro);
}

.contenedorRojo a:hover{
    background-color: var(--negro);
    color: var(--blanco);
}

.contenedorNegro a{
    background-color: var(--oscuro);
    transition: all 0.5s;
}

.contenedorNegro a:hover{
    background-color: var(--blanco);
    color: var(--oscuro);
}

/*---Videojuegos---*/
.videojuegosBody{
    background-color: var(--claro);
    color: var(--negro);
}

.videojuegosContenedor{
    background-color: var(--blanco);
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    width: 80vw;
    height: 100%;
}

.videojuegosBody table{
    animation-name: aparecer;
    animation-duration: 1.5s;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.videojuegosBody td{
    height: 188px;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.videojuegosBody h1{
    text-align: center;
    font-size: 32px;
}

.categoria{
    width: 100%;
    height: 168px;
    border-radius: 15px;
    background-color: var(--blanco);
    background: none;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-color: rgba(255, 0, 0, 0);
    border-style: solid;
    transition-property: background-color, color;
    transition-duration: 1.5s;
}

.categoria:hover{
    background-color: var(--oscuro);
}

.categoria:hover h2{
    color: var(--blanco);
}

.categoria h2{
    font-size: 24px;
    margin-top: 60px;
    color: var(--negro);
    font-weight: bolder;
}

.categoria img{
    width: 128px;
    height: 128px;
    margin: 20px;
}

.videojuegosContenedor tr td:nth-of-type(1){
    view-timeline-name: --categoria;
    view-timeline-axis: block;
    animation-timeline: --categoria;
    animation-range: entry 0% cover 30%;
    animation-fill-mode: both;
    animation-name: aparecerDerecha;
}

.videojuegosContenedor tr td:nth-of-type(2){
    view-timeline-name: --categoria;
    view-timeline-axis: block;
    animation-timeline: --categoria;
    animation-range: entry 0% cover 30%;
    animation-fill-mode: both;
    animation-name: aparecerIzquierda;
}

.videojuegosContenedor tr td:nth-of-type(1) img{
    float: right;
}

.videojuegosContenedor tr td:nth-of-type(2) img{
    float: left ;
}

.videojuegosContenedor tr td:nth-of-type(1) h2{
    float: right;
}

.videojuegosContenedor tr td:nth-of-type(2) h2{
    float: left;
}

/*---Registro---*/
.registroContenedor{
    background-color: var(--blanco);
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    width: 80vw;
    height: 100vh;
}

.registroContenedor table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.registroContenedor td{
    height: 64px;
    font-size: 24px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    padding-bottom: 30px;
}

.registroContenedor td,tr,table{
    border-collapse: collapse;
}

.registroContenedor tr{
    animation-name: agrandar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border-bottom: var(--negro) 1px solid;
    transform: scale(0%);
}

.registroContenedor table tr:nth-of-type(1){
    animation-delay: 0s;
}

.registroContenedor table tr:nth-of-type(2){
    animation-delay: 0.3s;
}

.registroContenedor table tr:nth-of-type(3){
    animation-delay: 0.6s;
}

.registroContenedor table tr:nth-of-type(4){
    animation-delay: 0.9s;
}

.registroContenedor table tr:nth-of-type(5){
    animation-delay: 1.2s;
}

.registroContenedor table tr:nth-of-type(6){
    animation-delay: 1.5s;
}

.registroContenedor input, select, textarea{
    border-width: 3px;
    border-style: solid;
    border-radius: 100px;
    border-color: var(--oscuro);
    background-color: var(--negro);
    color: var(--blanco);
    width: 80%;
}

.registroContenedor textarea{
    border-radius: 10px;
    margin-top: 30px;
}

.registroContenedor input:hover, select:hover, textarea:hover{
    background-color: var(--grisOscuro);
}

.registroContenedor input[type="email"]{
    width: 95%;
}

.registroContenedor input[type="checkbox"]{
    width: auto;
}

.registroContenedor input[type="submit"]{
    width: 20%;
}

.registroContenedor input[type="reset"]{
    width: 20%;
}

.registroContenedor span{
    color: var(--oscuro);
    font-weight: normal;
}

#otro{
    display: none;
}

/*Actividades*/
.calendario table, .calendario tr,.calendario td{
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
}

.calendario td{
    width: 20%;
}

.dias td{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 32px;
    background-color: var(--oscuro);
    font-size: 24px;
    color: var(--blanco);
    font-weight: bolder;
    text-align: center;
    border-color: var(--blanco);
    transition: all 0.5s;
}

.dias td:hover{
    background-color: var(--negro);
    color: var(--blanco);
}

.actividades td{
    vertical-align: top;
    transition: all 0.5s;
}

.actividades td:hover .crear{
    display: block;
}


.crear{
    width: 48px;
    height: 48px;
    float: right;
    vertical-align: bottom;
    margin-top: 8px;
    font-weight: bolder;
    color: var(--blanco);
    background-color: var(--oscuro);
    font-size: 40px;
    border-radius: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--oscuro);
    transition: all 0.5s;
    display: none;
}

.crear:hover{
    background-color: var(--blanco);
    color: var(--oscuro);
}

.contenedorActividades{
    height: 384px;
    width: 100%;
    margin: 32px;
    overflow-y: hidden;
}

.contenedorActividades h2{
    color: var(--blanco);
}

.contenedorActividades img{
    width: 128px;
    height: 128px;
}

.contenedor1, .contenedor2, .contenedor3{
    animation-name: ascenderYAparecer;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    float: left;
    width: 30%;
    height: 256px;
    border-radius: 15px;
    margin: 1%;
    opacity: 0%;
    padding-top: 8px;
    text-align: center;
    transition: all 0.5s;
}

.contenedor1:hover, .contenedor2:hover, .contenedor3:hover{
    margin-top: -.1px;
}

.contenedor1{
    background-color: var(--oscuro);
}

.contenedor2{
    background-color: var(--negro);
    animation-delay: 0.5s;
}

.contenedor3{
    background-color: var(--oscuro);
    animation-delay: 1s;
}

/*Quienes somos*/
.imagen{
    background-color: var(--negro);
    width: 384px;
    height: 512px;
    float: right;
    margin-left: 5vw;
    margin-right: 5vw;
}

.descripcion{
    text-align: justify;
    vertical-align: top;
}

.descripcion h2{
    color: var(--oscuro);
    font-size: 28px;
}

.descripcion p{
    font-size: 20px;
    color: var(--grisOscuro);
}

/*Crear*/
.contenedorCrear{
    background-color: var(--blanco);
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    width: 80vw;
    height: 2460px;
}

.contenedorCrear h2{
    text-align: center;
}

.contenedorInfo, .contenedorInfo2{
    animation-name: aparecerYExpandir;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    width: 80%;
    height: 512px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    color: var(--blanco);
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 32px;
}

.contenedorInfo{
    background-color: var(--grisOscuro);
}
.contenedorInfo2{
    background-color: var(--negro);
}

.contenedorInfo p, .contenedorInfo2 p{
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0%;
    font-size: 160%;
}

.contenedorInfo a, .contenedorInfo2 a{
    color: var(--oscuro);
}

/*scrollbar*/
*::-webkit-scrollbar{
    background: var(--negro);
    width: 8px;
}

*::-webkit-scrollbar-thumb{
    background: var(--grisOscuro);
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb:hover{
    background: var(--oscuro);
}